<h1>{{ title }}</h1>
<ul>
  <li *ngFor="let t of productList">{{ t }}</li>
</ul>
<hr />
<span *ngFor="let t of productList"> <input type="checkbox" /> {{ t }} </span>
<hr />
<select>
  <option *ngFor="let t of productList">{{ t }}</option>
</select>

<hr />
<h3>Product Details</h3>
<div>
  <h4>Product Id : {{ productDetails.pId }}</h4>
  <h4>Product Name : {{ productDetails.pName }}</h4>
  <h4>Product Category : {{ productDetails.pcategory }}</h4>
  <h4>Product Price : {{ productDetails.pPrice }}</h4>
  <h4>ProductIsInStock:{{ productDetails.pIsInStock }}</h4>
  <img src="{{ productDetails.pImage }}" />
</div>

<hr />
<table border="1">
  <tr *ngFor="let p of products">
    <td>{{ p.pId }}</td>
    <td>{{ p.pName }}</td>
    <td>{{ p.pcategory }}</td>
    <td>{{ p.pPrice }}</td>
    <td>{{ p.pIsInStock }}</td>
    <td>{{ p.pIsInStock }}</td>
    <td><img src="{{ p.pImage }}" /></td>
  </tr>
</table>
